body{
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
    margin: 0;
}

.startPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.logo_OussGame{
    width: 50vw;
    height: auto;
}

#start{
    width: 150px;
    height: 50px;
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 3em;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choiceJ1{
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choiceJ1 h2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.choiceJ2{
    color: white;
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choiceJ2 h2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.choice {
    width: 60vw;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vw;
}

.choice button{
    border: 2px solid black;
    color: black;
    background-color: white;
    width: 25vw;
    height: 150px;
}

.choice button:hover{
    border: 2px solid white;
    color: white;
    background-color: black;
}

.choiceJ2 button{
    border: 2px solid white;
    color: white;
    background-color: black;
    width: 25vw;
    height: 150px;
}

.choiceJ2 button:hover{
    border: 2px solid black;
    color: black;
    background-color: white;
}

input{
    text-align: center;
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 3em;
    border: none;
    outline: none;
}

#selectNameJ2{
    color: white;
    background-color: black;
}

.gamePage {
    display: none;
    width: 100vw;
    height: 100vh;
}

.etatJ1{
    width: 50%;
}

.joueur1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.pvJ1{
    width: 90%;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
}
.pvJ1 div{
    background-color: green;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.etatJ2{
    width: 50%;
    background-color: red;
}

.joueur2{
    color: white;
    background-color: black;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.pvJ2{
    width: 90%;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
}

.pvJ2 div{
    background-color: green;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.attaque{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.attaque button{
    width: 200px;
    height: 100px;
}

#Attaque-Speciale:disabled ,#Attaque-Speciale2:disabled{
    color: black;
    background-color: red;
}

.joueur1 button{
    background-color: white;
    border: 2px solid black ;
}

.joueur1 button:hover{
    background-color: black;
    border: 2px solid white ;
    color: white;
}

.joueur2 button{
    background-color: black;
    border: 2px solid white ;
    color: white;
}

.joueur2 button:hover{
    background-color: white;
    border: 2px solid black ;
    color: black;
}

.joueur1 div, .joueur2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameOver{
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.gameOver input{
    width: 150px;
    height: 50px;
}

